/**
 * This file is part of MeTools.
 *
 * MeTools is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * MeTools is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with MeTools.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author		Mirko Pagliai <mirko.pagliai@gmail.com>
 * @copyright	Copyright (c) 2014, Mirko Pagliai for Nova Atlantis Ltd
 * @license		http://www.gnu.org/licenses/agpl.txt AGPL License
 * @link		http://git.novatlantis.it Nova Atlantis Ltd
 */

/* Body element */
body { 
	padding-top: 70px; 
}

/* Topbar */
#topbar {
	background-color: #F2F2F2;
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	border-color: #D4D4D4;
	border-width: 0 1px 1px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

@media (max-width: 768px) {
	#topbar {
		border-width: 0 0 1px;
	}
}

/* Topbar, navigation menus */
#topbar ul.nav.navbar-nav {
	font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* Logo */
#logo {
	margin: 10px 0 20px;
}

/* Add to playlist form */
#add-to-playlist {
	text-align: center;
}

/* Content, last element child */
#content > :last-child {
	margin-bottom: 20px;
}

/* -------------------------------- */
/*			Browser view			*/
/* -------------------------------- */
/* Browser, breadcrumb, elements */
#content .breadcrumb > li {
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Browser, breadcrumb, first element, link */
#content .breadcrumb > li.first a {
	text-decoration: none;
}

/* Browser, display buttons (show images as list/thumbs) */
#content .display-buttons {
	margin-bottom: 10px;
}

/* Browser list */
#content .browser-view {
	clear: both;
	position: relative;
}

/* Browser list, items */
#content .browser-view .list-group-item {
	color: #0088CC;
}

/* Browser list, active items */
#content .browser-view .list-group-item.active {
	color: #fff;
}

/* Browser list, items, first item after the add to playlist button */
#content .browser-view .add-to-playlist-btn:first-child + .list-group-item {
	border-radius: 4px 4px 0 0;
}

/* Browser list, items , icons */
#content .browser-view .list-group-item .fa {
	margin-right: 4px;
}

/* Browser list, button to add a media to a playlist */
#content .browser-view .add-to-playlist-btn {
	border: 1px solid transparent;
	display: none;
	padding: 10px 15px;
    position: absolute;
    right: 0;
	text-decoration: none;
    z-index: 100;
}

/* Browser list, items after button to add a media to a playlist */
#content .browser-view .add-to-playlist-btn + .list-group-item {
	padding-right: 35px !important;
}

/* -------------------------------- */
/*			Media view				*/
/* -------------------------------- */
/* Image tags */
#content .media-view > img {
	margin-bottom: 20px;
}

/* Media view, tabs */
#content .media-view .nav-tabs li.active a, #content .media-view .tab-content {
	background: #F5F5F5;
	color: #666;
}

/* Media view, panels (horizontal dl), dd elements */
#content .media-view .tab-pane .dl-horizontal dd {
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

/* -------------------------------- */
/*			Native player			*/
/* -------------------------------- */
/* Native player */
.native-player {
	background: #F6F6F6;
	border-radius: 5px;
	display: inline-block;
	line-height: 0;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 5px;
}

/* Audio native player, wrapper */
.native-player.native-audio {
	width: 360px;
}

/* Audio native player, audio tag */
.native-player.native-audio audio {
	width: 100%;
}

/* Audio native player, album art */
.native-player.native-audio .album-art {
	cursor: pointer;
	margin: 5px auto 10px;
}

/* Video native player, video tag */
.native-player.native-video video {
	cursor: pointer;
	max-width: 100%;
}

/* -------------------------------- */
/*				Others				*/
/* -------------------------------- */
/* Content and error pages, titles */
h1, h2, h3, h4, h5, h6 {
	color: #0088CC;
}

/* Content and error pages, titles */
h1, h2 {
	margin: 0 0 20px;
}

/* Content and error pages, titles */
h3, h4, h5, h6 {
	margin: 0 0 10px;
}

/* Content, subtitles */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {    
    display: block;
    height: 18px;
    margin: 6px 0 0;
}

/* Form base */
.form-base {
	background: #F8F8F8;
    border-radius: 10px;
	margin-bottom: 20px;
    padding: 15px;
}

/* Keyboard button */
.keyboard-btn {
	background: #EEE;
	border: 1px solid #BBB;
	border-radius: 4px;
	box-shadow: 1px 1px 2px -1px #BBB, -1px -1px 2px -1px #BBB inset;
	color: #666;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px 10px;
	text-transform: uppercase;
}

/* Sad smile on "no source" page */
#sad-smile {
	font-size: 1000%;
}

/* -------------------------------- */
/*		Mobile optimization			*/
/* -------------------------------- */
/* Mobile */
@media (max-width: 496px) {
	/* Page container */
	.container {
		padding: 0 10px;
	}
	
	/* Breadcrumb */
	#content .breadcrumb {
		border-radius: 0;
		font-size: 90%;
		line-height: 0;
		margin: 0 -10px 20px;
		padding: 12px 10px;
	}
	
	/* Breadcrumb, separator */
	#content .breadcrumb > li + li:before {
		padding: 0 2px;
	}
	
	/* Browser list */
	#content .browser-view {
		border-radius: 0;
		margin: 0 -10px 20px;
	}
	
	/* Browser list, items */
	#content .browser-view .list-group-item {
		border-radius: 0 !important;
		border-width: 1px 0;
		line-height: 0;
		padding: 12px 10px;
	}
}