/**
 * This file is part of MeTools.
 *
 * MeTools is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * MeTools is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with MeTools.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author		Mirko Pagliai <mirko.pagliai@gmail.com>
 * @copyright	Copyright (c) 2014, Mirko Pagliai for Nova Atlantis Ltd
 * @license		http://www.gnu.org/licenses/agpl.txt AGPL License
 * @link		http://git.novatlantis.it Nova Atlantis Ltd
 */

/* Search form on home page */
#homepage #search-form {
	display: none;
    text-align: center;
}

/* Links */
#homepage .icons a {
    background: #F6F6F6;
    border-radius: 15px;
    display: block;
	margin-bottom: 20px;
	position: relative;
    text-align: center;
	text-decoration: none;
}

/* Links, disabled links */
#homepage .icons a.disabled {
	color: #888;
}

/* Links, icons and titles */
#homepage .icons a i, #homepage .icons a .link-title {
	line-height: 240px;
	width: 100%;
}

/* Links, icons */
#homepage .icons a i {
    font-size: 120px;
}

/* Links, titles */
#homepage .icons a .link-title {
	background: rgba(66, 142, 203, .8);
    border-radius: inherit;
	color: #fff;
	display: none;
    font-size: 45px;
	font-weight: bold;
	left: 0;
    position: absolute;
	text-transform: uppercase;
    top: 0;
}

/* Link, titles on hover */
#homepage .icons a:hover .link-title, #homepage .icons a:active .link-title {
	display: block;
}

@media (max-width: 479px) {
	#homepage .icons a i, #homepage .icons a .link-title { line-height: 130px; }
	#homepage .icons a i { font-size: 80px; }
	#homepage .icons a .link-title { font-size: 25px; }
}

@media (min-width: 480px) and (max-width: 599px) {
	#homepage .icons a i, #homepage .icons a .link-title { line-height: 200px; }
	#homepage .icons a .link-title { font-size: 35px; }
}

@media (min-width: 768px) and (max-width: 1023px) {
	#homepage .icons a i, #homepage .icons a .link-title { line-height: 280px; }
	#homepage .icons a i { font-size: 160px; }
	#homepage .icons a .link-title { font-size: 60px; }
}

@media (min-width: 1024px) and (max-width: 1360px) {
	#homepage .icons a i, #homepage .icons a .link-title { line-height: 200px; }
	#homepage .icons a .link-title { font-size: 35px; }
}