/**
 * This file is part of MeTools.
 *
 * MeTools is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * MeTools is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with MeTools.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author		Mirko Pagliai <mirko.pagliai@gmail.com>
 * @copyright	Copyright (c) 2014, Mirko Pagliai for Nova Atlantis Ltd
 * @license		http://www.gnu.org/licenses/agpl.txt AGPL License
 * @link		http://git.novatlantis.it Nova Atlantis Ltd
 */

/* Container */
.jp-container {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	max-width: 100%;
}

/* All controls */
.jp-controls {
    background: #EEE;
    border-radius: 0 0 5px 5px;
	font-family: sans-serif;
    padding: 6px 6px 8px;
}

/* Progress bar and volume bar */
.jp-progress, .jp-volume-bar {
	background: #ddd;
	cursor: pointer;
}

/* Progress bar value and volume bar value */
.jp-play-bar, .jp-volume-bar-value {
	background: #357EBD;
}

/* Progress bar value */
.jp-play-bar {
	height: 12px;
}

/* All buttons */
.jp-button {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 26px;
}

/* Button, repeat off button */
.jp-button.jp-repeat-off {
	color: #bbb;
}

/* Button, mute and volume max buttons */
.jp-button.jp-mute, .jp-button.jp-volume-max {
	font-size: 18px;
}

/* Timers (current time and duration time) */
.jp-timers {
    color: #666;
    display: inline-block;
    font-size: 11px;
    vertical-align: middle;
}

/* Volume bar */
.jp-volume-bar {
	display: inline-block;
	margin-bottom: 1px;
	width: 60px;
}

/* Volume bar value */
.jp-volume-bar-value {
	height: 10px;
}

/* Error message when the player cannot play */
.jp-no-solution {
	color: #8F0000;
    font-size: 12px;
    line-height: 125%;
	margin: 5px auto;
	max-width: 100%;
    padding: 0 5px;
    text-align: justify;
	width: 388px;
}

/* -------------------------------- */
/*			Audio player			*/
/* -------------------------------- */
/* Audio container */
.jp-container.jp-audio .jp-jplayer {
    background: #F6F6F6;
    border-radius: 5px 5px 0 0;
	max-width: 100%;
    text-align: center;
}
/* Album art */
.jp-container.jp-audio .jp-jplayer img {
	cursor: pointer;
	height: auto !important;
	margin: 20px;
	width: auto !important;
}

/* -------------------------------- */
/*			Video player			*/
/* -------------------------------- */
/* All videos wrappers */
.jp-container.jp-video, .jp-container.jp-video .jp-jplayer, .jp-container.jp-video video {
	line-height: 0;
	max-width: 100%;
}

/* Video element */
.jp-container.jp-video video {
	cursor: pointer;
}

/* -------------------------------- */
/*			Full screen mode		*/
/* -------------------------------- */
/* Interface */
.jp-video-full .jp-interface {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

/* All controls */
.jp-video-full .jp-controls {
    border-radius: 0;
}

/* -------------------------------- */
/*			Playlists				*/
/* -------------------------------- */
/* Playlist container */
.jp-playlist {
    background: #EEE;
    border-radius: 5px;
    line-height: normal;
    margin-top: 10px;
    padding: 6px;
}

/* List */
.jp-playlist ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* List element on hover */
.jp-playlist li:hover {
	background: #ddd;
}

/* List element of the current media */
.jp-playlist li.jp-playlist-current {
	background: #357EBD;
}

/* LI element of the current media, link */
.jp-playlist li.jp-playlist-current a {
	color: #fff;
}

/* All links */
.jp-playlist a {
    line-height: 25px;
	text-decoration: none;
}

/* Link to play the media */
.jp-playlist a.jp-playlist-item {
	display: block;
	font-size: 95%;
	overflow: hidden;
	padding: 1px 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Link to remove the media */
.jp-playlist a.jp-playlist-item-remove {
    float: right;
    font-size: 18px;
    font-weight: bold;
	padding-right: 4px;
}